@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
  margin: 0;
}

li, a, button{
  font-family: Poppins;
  font-weight: regular 400;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}


header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 5%;
  position: sticky;
  background-color: #F1EFE8;
}

.logo{
  cursor: pointer;
  margin-right: auto;
  width: 300px;
  height: 60px;
  padding-top: 15px;
}

.nav-links{
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0px 40px;
}

.nav-links li a{
  transition: all.0.3 ease 0s;
}

.nav-links li a:hover{
  color: #5E88BF;
}

button{
  font-weight: bold;
  margin-left: 20px;
  padding: 3px 25px;
  background-color: #C35C5C;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover{
  background-color: #C15353;
}

footer{
  background-color: #172C49;
}
/*overskrift på siden*/
.container{
  display: flex;
  justify-content: space-around;
}

.tekstboksen{
  width: 100%;
  height: 250px;
  padding: 10px 25px;
  background-color: #E2E0DB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tekstboksen h1{
  width: 1000px;
  color: black;
  font-weight: bold 400;
  background-color: #E2E0DB;
  font-family: poppins;
  font-size: 45px;
  text-align: center;
  }

  /*første boks med nyhed*/
.container2{
  display: flex;
  justify-content: space-around;
  background-color: #F1EFE8;

}

.nyhedbillede1{
  width: 300px;
  height: 200px;
  padding: 50px;
  margin-right: 150px;
}

.tekstboksen2 h2{
  font-size: 25px;
  font-family: poppins;
  margin-top: 50px;
  margin-left: 175px;
  text-decoration: underline;
}

.tekstboksen2 p{
  font-size: 15px;
  font-family: poppins;
  margin-left: 175px;
  line-height: 35px;
  text-align: justify;
  text-justify: inter-word;

}

/*anden boks med nyhed*/
.container3{
  display: flex;
  justify-content: flex-start;
  background-color: #F1EFE8;

}

.tekstboksen3 h2{
  font-size: 25px;
  font-family: poppins;
  margin-top: 50px;
  margin-right: 600px;
  text-decoration: underline;
  float: right;

}

.tekstboksen3 p{
  font-size: 15px;
  font-family: poppins;
  margin-left: 32px;
  margin-right: 200px;
  line-height: 35px;
  text-align: justify;
  text-justify: inter-word;
  float: right;
}

.nyhedbillede2{
  width: 300px;
  height: 200px;
  padding: 50px;
  margin-left: 125px;
}


.nyhedbillede3{
  width: 300px;
  height: 200px;
  padding: 50px;
  margin-right: 150px;
}



button1{
  font-weight: bold;
  padding: 3px 25px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  font-size: 15px;
  margin-left: 175px;
  margin-bottom: 50px;
}

button2{
  font-weight: bold;
  padding: 3px 25px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  font-size: 15px;
  margin-left: 31px;
  margin-bottom: 50px;
}

.flerenyheder{
  text-align: center;
  font-family: poppins;
  padding-bottom: 100px;
  background-color: #F1EFE8;

}

.container10{
  display: none;
  flex-direction: column;
}

footer{
  height: auto;
  background-color: #172C49
}


.container5{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}


.boksen{
  display: flex;
  flex-direction: column;
  color: #FFF4F4;
  padding-top: 40px;
  padding-bottom: 40px;
}

.boksen .logo-footer{
  width: 160px;
  height: 100px;
  padding-top: 60px;
}

.tilmeld{
  width: 100%;
  background-color: #C35C5C;
  border-radius: 10px;
}

.cta3{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 25px;
  color: #FFF4F4;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.inputBox{
  width: 100%;
  background-color: #EDEDED;
  border-radius: 10px;
}

.email{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 25px;
  width: 85%;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
/* footer */
