@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
  background-color: #F1EFE8;
  margin: 0;
}

li, a, button{
  font-family: Poppins;
  font-weight: regular 400;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}


header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 5%;
  position: sticky;
}

.logo{
  cursor: pointer;
  margin-right: auto;
  width: 300px;
  height: 60px;
  padding-top: 15px;
}

.nav-links{
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0px 40px;
}

.nav-links li a{
  transition: all.0.3 ease 0s;
}

.nav-links li a:hover{
  color: #5E88BF;
}

button{
  font-weight: bold;
  margin-left: 20px;
  padding: 3px 25px;
  background-color: #C35C5C;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover{
  background-color: #C15353;
}

footer{
  background-color: #172C49;
}
/*overskrift på siden*/
.container{
  display: flex;
  justify-content: space-around;
}

.tekstboksen{
  width: 100%;
  height: 250px;
  padding: 10px 25px;
  background-color: #E2E0DB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tekstboksen h1{
  width: 1000px;
  color: black;
  font-weight: bold 400;
  background-color: #E2E0DB;
  font-family: poppins;
  font-size: 45px;
  text-align: center;
  }

  /*første boks med nyhed*/
.container2{
  display: flex;
  justify-content: space-around;
}

.omosbillede1{
  width: 400px;
  height: 300px;
  padding: 50px;
  margin-right: 150px;
}

.tekstboksen2 h2{
  font-size: 25px;
  font-family: poppins;
  margin-top: 50px;
  margin-left: 175px;
  margin-top: 10%;
  text-decoration: underline;

}

.tekstboksen2 p{
  font-size: 15px;
  font-family: poppins;
  margin-left: 175px;
  line-height: 35px;
  text-align: justify;
  text-justify: inter-word;
  margin-top: 3%;

}

/*anden boks med nyhed*/
.container3{
  display: flex;
  justify-content: flex-start;
}

.tekstboksen3 h2{
  font-size: 25px;
  font-family: poppins;
  margin-top: 50px;
  margin-right: 674px;
  text-decoration: underline;
  float: right;

}

.tekstboksen3 p{
  font-size: 15px;
  font-family: poppins;
  margin-left: 32px;
  margin-right: 200px;
  line-height: 35px;
  text-align: justify;
  text-justify: inter-word;
  float: right;
  margin-top: 4%;
}

.omosbillede2{
  width: 400px;
  height: 300px;
  padding: 50px;
  margin-left: 125px;
  margin-top: -5%;
}


.omosbillede3{
  width: 400px;
  height: 300px;
  padding: 50px;
  margin-right: 150px;
  margin-top: -5%;
}

.tekstboksen4 h2{
  width: 1000px;
  color: black;
  font-weight: bold 400;
  font-family: poppins;
  font-size: 45px;
  text-align: center;
  float: center;
}
