@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
  font-family: poppins;
  margin: 0;
}

/* navbar */
li, a, button{
  font-family: Poppins;
  font-weight: regular 400;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}


header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 5%;
  background-color: #F1EFE8;
  position: sticky;
}

.logo{
  cursor: pointer;
  margin-right: 300px;
  width: 300px;
  height: 60px;
  padding-top: 15px;
}

.nav-links{
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0px 40px;
}

.nav-links li a{
  transition: all.0.3 ease 0s;
}

.nav-links li a:hover{
  color: #5E88BF;
}

button{
  font-weight: bold;
  margin-left: 20px;
  padding: 3px 25px;
  background-color: #C35C5C;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover{
  background-color: #C15353;
}
/*navbar slut*/


/*overskrift på siden*/
.container{
  display: flex;
  justify-content: space-around;
}

.tekstboksen{
  width: 100%;
  height: 200px;
  padding: 10px 25px;
  background-color: #E2E0DB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tekstboksen h1{
  width: 1000px;
  color: black;
  font-weight: bold;
  background-color: #E2E0DB;
  font-family: poppins;
  font-size: 30px;
  text-align: center;
  }

.tekstboksen p{
  background-color: #E2E0DB;
  font-weight: normal;
  font-family: poppins;
  font-size: 20px;
}

/*slut*/



.popup{
  border-radius: 10px;
  margin: auto;
  width: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 75px;
  padding: 100px;
  margin-bottom: 100px;
}


.popup-indhold{
  height: 550px;
  width: 50%;
  margin: auto;
  background: #FFFFFF;
  color: #00454E;
  padding: 100px;
  border-radius: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.popup-indhold img{
  width: 200px;
}


.popup .knap-til-start{
  background: #00454E;
  color: #EAEAEA;
  width: max-content;
  margin: auto;
  padding: 10px 15px;
  border-radius: 10px;
  text-decoration: none;
}

.row{
  background-color: #405C84;
  border-radius: 10px;
  margin: auto;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 75px;
  padding: 100px;
  margin-bottom: 100px;
}

.row2{
  background-color: #ffffff;
  border-radius: 10px;
  margin: auto;
  width: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 75px;
  padding: 100px;
  margin-bottom: 100px;
}

.knap{
  display: float;
  float: left;
  margin: auto;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #ffffff;
}

.kasse1 {
  width: 150px;
  height: 40px;
  background-color: #284773;
  float: left;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  justify-content: center;
  font-size: 15px;
  align-items: center;
}

.kasse2 {
  width: 150px;
  height: 40px;
  background-color: #FFFFFF;
  float: left;
  border-radius: 10px 0px 0px 10px;
  color: black;
  display: flex;
  justify-content: center;
  font-size: 15px;
  align-items: center;
}

.kasse3{
  width: 150px;
  height: 40px;
  background-color: #284773;
  float: left;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  justify-content: center;
  font-size: 15px;
  align-items: center;
}

.kasse4{
  width: 150px;
  height: 40px;
  background-color: #FFFFFF;
  float: left;
  border-radius: 0px 10px 10px 0px;
  color: black;
  display: flex;
  justify-content: center;
  font-size: 15px;
  align-items: center;
}


input[type=text], select, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: poppins;
  border-radius: 10px;

}

input[type=submit] {
  background-color: #ffffff;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-family: poppins;
  font-weight: bold;
  color: #3B4B61;
  border-radius: 5px;

}

input[type=submit]:hover {
  background-color: #45a049;
}

.babba{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
}

.barn2{
  display: flex;
  flex-direction: column;
  padding: 0;
}

.knap-til-start{
  display: flex;
  margin: auto;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  background-color: #C35C5C;
}

.container2{
  border-radius: 5px;
  padding: 10px;
  font-family: poppins;
  color: #FFFFFF;
  background-color: #F1EFE8;
}

.container9{
  border-radius: 5px;
  padding: 10px;
  font-family: poppins;
  color: #FFFFFF;
  background-color: #F1EFE8;
}

.container9 h1{
  color: black;
}

.container9 p{
  color: black;
}

.container9 img{
  width: 225px;
  height: 200px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.kontaktformular h1{
  font-family: poppins;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 15px;
}

.kontaktformular h2 {
  font-family: poppins;
  font-weight: normal;
  font-size: 15px;
  padding-bottom: 30px;
}
/* støt formularen */

.container3{
  display: flex;
  justify-content: center;
  background-color: #C35C5C
}

.far{
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

.barn{
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.overskrift{
  color: #FFF4F4;
  text-align: center;
}


.tekst-boks1{
  width: 350px;
  padding: 10px 25px;
  border-radius: 10px;
  padding-bottom: 90px;
}

.tekst-boks1 p{
  color: #FFF4F4;
  line-height: 30px;
  text-align: justify;
  text-justify: inter-word;
}

.tekst-boks1 h3{
  color: #FFF4F4;
}


/* footer */
footer{
  height: auto;
  background-color: #172C49;
}

.container5{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}

.boksen{
  display: flex;
  flex-direction: column;
  color: #FFF4F4;
  padding-top: 40px;
  padding-bottom: 20px;
}

.boksen .logo-footer{
  width: 160px;
  height: 100px;
  padding-top: 60px;
}

.tilmeld{
  width: 100%;
  background-color: #C35C5C;
  border-radius: 10px;
}

.cta3{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 25px;
  color: #FFF4F4;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}


.email{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 25px;
  width: 80%;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
/* footer */
