@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
  background-color: #F1EFE8;
  margin: 0;
}

li, a, button{
  font-family: Poppins;
  font-weight: regular 400;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}


header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 5%;
  width: 90%;
  position: fixed;
}

.logo{
  cursor: pointer;
  margin-right: auto;
  width: 60px;
  height: 65px;
}

.nav-links{
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0px 40px;
}

.nav-links li a{
  transition: all.0.3 ease 0s;
}

.nav-links li a:hover{
  color: #5E88BF;
}

button{
  font-weight: bold;
  margin-left: 20px;
  padding: 3px 25px;
  background-color: #C35C5C;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover{
  background-color: #C15353;
}

.boks{
  width: 100%;
  height: 500px;
  background-color: #676767;
}

.infografik{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.infografik a{
  width: 300px;
  height: 400px;
}

footer{
  background-color: #172C49;
}
