@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
  margin: 0;
  font-family: Poppins;
}

/* Navbar*/
li, a, button{
  font-family: Poppins;
  font-weight: regular 400;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}


header{
    background-color: #F1EFE8;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 5%;
  width: 90%;
  position: fixed;
}

.logo{
  cursor: pointer;
  margin-right: auto;
  width: 300px;
  height: 60px;
  padding-top: 15px;
}

.nav-links{
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0px 40px;
}

.nav-links li a{
  transition: all.0.3 ease 0s;
}

.nav-links li a:hover{
  color: #5E88BF;
}

button{
  font-weight: bold;
  margin-left: 20px;
  padding: 3px 25px;
  background-color: #C35C5C;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover{
  background-color: #C15353;
}
/* Nav bar slut*/

/* Kommende video*/
.boks{
  width: 100%;
  height: 600px;
  background-color: #676767;
}
/* kommende video slut */

/* infografik + tekstbokse */
.container1{
  display: flex;
  justify-content: space-around;
  background-color: #F1EFE8;
}

.infografik{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 300px;
  height: 300px;
  padding-top: 150px;
  padding-bottom: 30px;
}

.infografik img{
  margin-left: 90px;
  margin-right: 90px;

}

.container2{
  display: flex;
  justify-content: space-around;
  padding-bottom: 150px;
  background-color: #F1EFE8;
}

.tekst-boks1{
  width: 300px;
  background-color: #405C84;
  padding: 10px 25px;
  border-radius: 10px;
}

.tekst-boks1 h3{
  color: #FFF4F4;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
}

.tekst-boks1 p{
  color: #FFF4F4;
  font-weight: regular 400;
  padding-bottom: 10px;
  text-align: justify;
  text-justify: inter-word;
}
/* infografik + tekstbokse  */

/* Kundeberetninger start */
.container3{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E2E0DB;
}

.kundeberetninger{
  height: auto;
  width: 400px;
  padding: 10px 100px;
}

.kundeberetninger h1{
  padding-top: 40px;
  padding-right: 40px;
}

.kundeberetninger p{
  line-height: 30px;
  text-align: justify;
  text-justify: inter-word;
}

.cta2{
  font-weight: bold;
  padding: 3px 25px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.billede{
  width: 400px;
  height: 350px;
  padding-top: 40px;
  padding-bottom: 40px;
}
